html, body, #morphimation-container {
	height: 100%;
	width: 100%;
}

#morphimation-container {
	display: flex;
    justify-content: center;
    align-items: center;	
}

#themorphimation {
	max-width: 520px;
}

#themorphimation.fadeOut {
	opacity: 0;
}

#themorphimation.fadeIn {
	-webkit-transition: 2s;
  	-moz-transition: 2s;
  	-ms-transition: 2s;
  	-o-transition: 2s;
  	transition: 2s;
	opacity: 1;
}
